.navigationWrapper {
    background-color: teal;
    color: white;
    display: flex;
    justify-content: center
}

.navigationWrapper > .leftColumn > .icon {

}

.navigationWrapper > .contactHoursWrapper {

}

.navigationWpper > contactHoursWrapper > .phone {

}

.navigationWrapper > .hours {

}

.navigationWrapper > .centerColumn {

}

.navigationWrapper > .centerColumn > .bannerImage {

}

.navigationWrapper > .linksWrapper {

}

.navigationWrapper > .linksWrapper > .navLinks {

}

.navigationWrapper > .rightColumn {

}

.navigationWrapper > .rightColumn > .addressWrapper {

}

.navigationWrapper > .rightColumn > .contactIcon {

}