.navigationWrapper {
    height: 125px;
    background-color: teal;
    display: flex;
}

.navigationWrapper > .leftColumn > .icon {

}

.navigationWrapper > .contactHoursWrapper {

}

.navigationWrapper > contactHoursWrapper > .phone {

}

.navigationWrapper > .hours {

}

.navigationWrapper > .centerColumn {

}

.navigationWrapper > .centerColumn > .bannerImage {

}

.navigationWrapper > .linksWrapper {

}

.navigationWrapper > .linksWrapper > .navLinks {

}

.navigationWrapper > .rightColumn {

}

.navigationWrapper > .rightColumn > .addressWrapper {

}

.navigationWrapper > .rightColumn > .contactIcon {

}